body{
    background-color: rgb(240, 240, 240);
}
#header{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(246, 193, 131);
    background-color: rgb(5, 5, 36);
}

main #palin{
    color: rgb(0, 10, 29);
    text-align: center;
    padding: 20px;
}
main #bt{
    text-align: center;
}
main #entre{
    border-radius: 20px;
    width: 500px;
    height: 30px;
    border: 2px solid  rgb(5, 5, 36);
}
main #bt button{
    background-color: rgb(90, 90, 107);
    border-radius: 20px;
    height: 30px;
    border: 2px solid  rgb(5, 5, 36);
    color:  rgb(5, 5, 36);
}
::placeholder{
    color: rgb(189, 138, 81);
     padding: 10px;
}
main div #resultado{
    text-align: center;
    color: rgb(21, 18, 107);
}
 #titlEjemplo{
    text-align: center;
    color: rgb(21, 18, 107);
}
main #ejemplos{
    justify-content: center;
    text-align: center;
    color: rgb(182, 182, 200);
    background-color: rgb(90, 90, 107);
    margin: 50px 200px  ;
    padding: 20px;

}
@media (max-width: 700px){
    main #entre{
        width: 50%;
    } 
    main #ejemplos{
        margin: 10px;
    }
}
